<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.notice-mapper">
	<!-- 우식 -->
	<!-- ㅁㅁ -->
	<!-- 영권 -->
    <insert id="noticeInsert" parameterType="Notice">
      <!-- Sequence -->
      <selectKey keyProperty="notice_no" resultType="int" order="BEFORE">
        SELECT NVL(MAX(notice_no)+1,1) as notice_no FROM yoseksa_notice
      </selectKey>
      INSERT INTO yoseksa_notice VALUES(#{notice_no},1,1,#{notice_sub},#{notice_content},SYSDATE,0)
    </insert>
    <select id="noticeListData" resultType="Notice" parameterType="java.util.Map">
      SELECT notice_no,notice_sub,name, dbday , hit, num
      FROM (SELECT no,subject,name, TO_CHAR(regdate,'YYYY-MM-DD') as dbday , hit, rownum as num
      FROM (SELECT no,subject,name, regdate , hit 
      FROM replyBoard ORDER BY no DESC)) 
      WHERE num BETWEEN #{start} AND #{end}
    </select>
	<!-- ㅁㅁ -->
	<!-- 태진 -->
	<!-- ㅁㅁ -->
	<!-- 승현 -->
	<!-- ㅁㅁ -->
	<!-- 홍의 -->
	<select id="noticeListData" resultType="Notice">
      SELECT notice_sub,notice_date,notice_hit,notice_content
      FROM yoseksa_notice
    </select>
	<!-- ㅁㅁ -->
	<!-- 민영 -->
	<!-- ㅁㅁ -->
</mapper>