<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.recipe-mapper">
	<!-- 우식 -->
	<!-- ㅁㅁ -->
	<!-- 영권 -->
	<!-- ㅁㅁ -->
	<!-- 태진 -->
	<!-- ㅁㅁ -->
	<!-- 승현 -->
	<!-- ㅁㅁ -->
	<!-- 홍의 -->
	<!-- ㅁㅁ -->
	<!-- 민영 -->
	<sql id="where-no">
      WHERE recipe_no=#{recipe_no}
    </sql>
	<select id="recipeContentData" resultType="Recipe" parameterType="java.util.Map">
	  SELECT recipe_no,recipe_img,recipe_sub,num
      FROM (SELECT recipe_no,recipe_img,recipe_sub,rownum as num
      FROM (SELECT recipe_no,recipe_img,recipe_sub 
      FROM yoseksa_recipe ORDER BY recipe_no DESC)) 
      WHERE num BETWEEN #{start} AND #{end}
	</select>
	 <select id="recipeRowCount" resultType="int">
      SELECT COUNT(*) FROM replyBoard
      </select>
</mapper>