<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.recipe-mapper">
	<!-- 우식 -->
	<!-- ㅁㅁ -->
	<!-- 영권 -->
	<insert id="recipeInsert" parameterType="Recipe">
      <!-- Sequence -->
      <selectKey keyProperty="recipe_no" resultType="int" order="BEFORE">
        SELECT NVL(MAX(recipe_no)+1,1) as recipe_no FROM yoseksa_recipe
      </selectKey>
      INSERT INTO yoseksa_recipe VALUES(
        #{recipe_no},#{board_no},#{kind_no},#{situ_no},#{how_no},#{jaeryo_no},4,
        #{recipe_sub},#{recipe_img},
        SYSDATE,0)
    </insert>
	<!-- ㅁㅁ -->
	<!-- 태진 -->
	<!-- ㅁㅁ -->
	<!-- 승현 -->
	<!-- ㅁㅁ -->
	<!-- 홍의 -->
	<!-- ㅁㅁ -->
	<!-- 민영 -->
	<!-- ㅁㅁ -->
</mapper>