.form_input_recipe{
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: rgba( 255, 255, 255, 0 );
  background-image: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

#h2_title{
    color: #fff;
    position: absolute;
    top: 14px;
    left: 264px;
}

#icon_title{
	position: absolute;
    top: 41px;
    left: 243px;
}

#title_underline{
    width: 80%;
    border: 1px solid rgba( 0, 255, 64, 10 );
    top: 60px;
    left: 80px;
    position: absolute;
	
}



#food_date{
	position: absolute;
	left: 40px;
	top: 124px;
}

#bld{
	position: absolute;
	left: 40px;
	top: 230px;
	color: yellowgreen;
}

#food_search{
	position: absolute;
	left: 40px;
	top: 381px;
}
#food_search_result{
	position: absolute;
	top: 149px;
	right: 50px;
	height: 60%;
	width: 60%;
	border: 1px solid rgb( 255, 255, 255 );
	border-radius: 6px;
	
}