

#qna_title{
	position: absolute;
	top: 197px;
	left: 265px;
	font-size: 38px;
}
#qna_label1{
	position: absolute;
	top:300px;
	left: 350px;
	width: 500px;	
}
#qna_label2{
	position: absolute;
	top:656px;
	left: 350px;
	width: 500px;	
}
#qna_div{
	padding: 20px;
	position: absolute;
	top: 354px;
	left: 360px;
	font-size: 11px;
	color: black;
}
#email_form_div{
	position: absolute;
	top: 720px;
	left: 360px;
}
#email_form{
	width: 450px;	
}
#contenet_form{
	
}
#button_form{
	left: 390px
}
#hr1{
	top: 250px;
}







