html,body {
  height: 100%;
}
.row {
  margin-left:0px;
  margin-right:0px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

header {
  	height:100%;
	min-height:500px;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

#topNav {
	z-index:-1;
}

#nav {
  width: 100%;
}

#nav.affix-top {
   position: absolute;
   padding-top:30px;
   top:0;
   left:0;
   z-index:10;
   height:54px;
   background-color:transparent;
   border:0;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:1000;
   -webkit-transition: all .6s ease-in-out;
}
#nav.affix .navbar-default .navbar-nav > li > a {
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-collapse {
    padding-top: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}
#footer > .container {
  
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
  .col-md-3 {
    width: 100%;
}
}
  
.navbar-nav {
  margin: 1px 1px; 
}  

.navbar-toggle {
	outline:0;
}
@media (max-width: 768px) {
	header {
	
	}
}
.slideshow { 
	min-height: 961px;
	width: 100%;
	margin: auto;
	background-size:cover;
	box-sizing: border-box;
}
.slideshow img {
	rgba(238, 238, 238, 0);
	width:100%;
	min-height:100%;
	background-size:cover;
}
#owl-demo .item{
  background: rgba(63, 191, 121, 0);
  padding: 0px 0px 0px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header {
    height: 100%;
    min-height: 961px;
}
.thumbnail .caption {
    padding: 9px;
    position: relative;
    color: #333;
    z-index: 5000;
}
#owl-demo .item .thumbnail{
    min-height: 300px;
	margin-top: 12px;
	margin-bottom: 0px;
}
ul.callbacks_tabs.callbacks1_tabs {
    position: absolute;
    bottom: 400px;
    z-index: 0;
    left: 45%;
}
.owl-pagination{
	display: none;
}
.yoseksa-search{
	position: absolute;
    z-index: 5;
    width: 100%;
    margin-top: 400px;
}
.yoseksa-search-input{
    font-size: 21px;
    padding-left: 12px;
    z-index: 1000;
    position: relative;
    vertical-align: top;
    background-color: transparent;
    width: 100%;
    min-height: 46px;
}
.yoseksa-search-hint{
    font-size: 21px;
    min-height: 46px;
    width: 100%;
    padding-left: 12px;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: transparent;
    box-shadow: none;
    opacity: 1;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
}
.twitter-typeahead{
	position: relative;
	display: inline-block;
	width: 100%;
}
.input-group{
	margin: 0 auto;
	width: 40%;
}
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
    padding-bottom: 10px;
}
.search-input-button {
	    font-size: 14px;
    height: 46px;
}
.fa-search:before {
    content: "\f002";
}
.fa {
    display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn {
    background-color: #f3f3f3;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
    background-color: white;
    background: url(https://d30y9cdsu7xlg0.cloudfront.net/png/15028-200.png) 50%,50%;
    background-size: contain;
    width: 150%;
}