<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.free.dao.free-mapper">

    <select id="freeboardListData" resultType="Freeboard" parameterType="java.util.Map">
      SELECT free_no,nickname,free_content,dbday,num
      FROM (SELECT free_no,nickname,free_content,TO_CHAR(free_date,'YYYY-MM-DD') as dbday,rownum as num
      FROM (SELECT free_no,nickname,free_content,free_date 
      FROM yoseksa_freeboard ORDER BY free_no DESC)) 
      WHERE num BETWEEN #{start} AND #{end}
    </select>
    <!-- 
      SELECT notice_no,notice_sub,notice_content, notice_dbday , notice_hit, num
      FROM (SELECT notice_no,notice_sub,notice_content,TO_CHAR(notice_date,'YYYY-MM-DD') as notice_dbday , notice_hit, rownum as num
      FROM (SELECT notice_no,notice_sub,notice_content,notice_date , notice_hit 
      FROM yoseksa_notice ORDER BY notice_no DESC)) 
      WHERE num BETWEEN #{start} AND #{end}
       -->
    <!-- 총페이지 구하기 -->
    <select id="freeboardRowCount" resultType="int">
      SELECT COUNT(*) FROM yoseksa_freeboard
    </select>
    <!--  데이터 추가 -->
    <!-- <insert id="freeboardInsert" parameterType="Freeboard">
      Sequence
      <selectKey keyProperty="free_no" resultType="int" order="BEFORE">
        SELECT NVL(MAX(free_no)+1,1) as free_no FROM yoseksa_freeboard
      </selectKey>
      INSERT INTO yoseksa_freeboard VALUES(
        #{board_no},#{free_no},#{member_no},#{free_pw},#{nickname},#{free_content},SYSDATE
      )
    </insert> -->
    
    <insert id="freeboardInsert" parameterType="Freeboard">
      <!-- Sequence -->
      <selectKey keyProperty="free_no" resultType="int" order="BEFORE">
        SELECT NVL(MAX(free_no)+1,1) as free_no FROM yoseksa_freeboard
      </selectKey>
      INSERT INTO yoseksa_freeboard(free_no,member_no,free_pw,nickname,free_content) VALUES(
        #{free_no},#{member_no},#{free_pw},#{nickname},#{free_content}
      )
    </insert>
    
	<select id="freeboardMAXno" resultType="int">
		SELECT MAX(free_no) FROM yoseksa_freeboard
	</select>
	
    <!-- 내용보기 데이터 출력  -->
    <select id="freeContentData" resultType="Freeboard" parameterType="int">
     SELECT free_no,nickname,free_content,free_date 
     FROM yoseksa_freeboard
     WHERE free_no=#{free_no}
    </select>
    <select id="freeboardGetPwd" resultType="String" parameterType="int">
      SELECT free_pw FROM yoseksa_freeboard
      WHERE free_no=#{free_no}
    </select>
    <update id="freeboardUpdate" parameterType="Freeboard">
      UPDATE yoseksa_freeboard SET 
      nickname=#{nickname},free_content=#{free_content},free_date=SYSDATE
      WHERE free_no=#{free_no}
    </update>
    <!-- Delete -->
    <!-- public void boardReplyDelete(int bno) -->
    <delete id="boardReplyDelete" parameterType="int">
      DELETE FROM yoseksa_reply
      WHERE board_no=#{board_no}
    </delete>
    <delete id="freeboardDelete" parameterType="int">
      DELETE FROM yoseksa_freeboard
      WHERE free_no=#{free_no}
    </delete>
    <!--  댓글  -->
    <select id="boardReplyCount" resultType="int"
     parameterType="int">
     SELECT COUNT(*) FROM yoseksa_reply
     WHERE reply_no=#{reply_no}
    </select>
    <select id="replyListData" resultType="Reply" parameterType="int">
      SELECT reply_no,member_no,nickname,reply_content,TO_CHAR(reply_date,'YYYY-MM-DD HH24:MI:SS') as dbday,group_tab
      FROM yoseksa_reply
      WHERE board_no=#{board_no}
      ORDER BY group_id DESC , group_step ASC
    </select>
    <!-- 댓글 관련  -->
    <!-- 새로운 댓글 올리기 -->
    <insert id="replyNewInsert" parameterType="Reply">
      <selectKey keyProperty="reply_no" resultType="int" order="BEFORE">
        SELECT NVL(MAX(reply_no)+1,1) as reply_no FROM yoseksa_reply
      </selectKey>
      INSERT INTO yoseksa_reply VALUES(#{reply_no},#{board_no},
        #{member_no},#{reply_content},#{nickname},SYSDATE,
        (SELECT NVL(MAX(group_id)+1,1) FROM yoseksa_reply),
        0,0,0,0)
    </insert>
    <!-- 댓글 - 댓글  -->
    <select id="replyParentInfo" resultType="Reply" parameterType="int">
      SELECT group_id,group_step,group_tab 
      FROM yoseksa_reply
      WHERE reply_no=#{reply_no}
    </select>
    <update id="replyStepIncrement" parameterType="Reply">
      UPDATE yoseksa_reply SET
      group_step=group_step+1
      WHERE group_id=#{group_id} AND group_step>#{group_step}
    </update>
    <insert id="replyReInsert" parameterType="Reply">
      <selectKey keyProperty="reply_no" resultType="int" order="BEFORE">
        SELECT NVL(MAX(reply_no)+1,1) as reply_no FROM yoseksa_reply
      </selectKey>
      INSERT INTO yoseksa_reply VALUES(#{reply_no},#{board_no},
        #{member_no},#{reply_content},#{nickname},SYSDATE,
        #{group_id},
        #{group_step},#{group_tab},#{root},0)
    </insert>
    <update id="replyDepthIncrement" parameterType="int">
      UPDATE yoseksa_reply SET
      depth=depth+1
      WHERE reply_no=#{reply_no}
    </update>
    <update id="replyReUpdate" parameterType="Reply">
      UPDATE yoseksa_reply SET
      reply_content=#{reply_content}
      WHERE reply_no=#{reply_no}
    </update>
    <select id="replyGetDepthRoot" resultType="Reply" parameterType="int">
     SELECT depth,root FROM yoseksa_reply
     WHERE reply_no=#{reply_no}
    </select>
    <delete id="replyDelete" parameterType="int">
     DELETE FROM yoseksa_reply
     WHERE reply_no=#{reply_no}
    </delete>
    <update id="replyMsgUpdate" parameterType="int">
     UPDATE yoseksa_reply SET
     reply_content='관리자에 의해 삭제된 댓글입니다'
     WHERE reply_no=#{reply_no}
    </update>
    <update id="replyDepthDecrement" parameterType="int">
     UPDATE yoseksa_reply SET
     depth=depth-1
     WHERE reply_no=#{reply_no}
    </update>
    <select id="replyPageRowCount" resultType="int" parameterType="int">
      SELECT COUNT(*) FROM yoseksa_reply
      WHERE board_no=#{board_no}
    </select>
 </mapper>

   <!-- 우식 -->
   <!-- ㅁㅁ -->
   <!-- 영권 -->
   <!-- ㅁㅁ -->
   <!-- 태진 -->
   <!-- ㅁㅁ -->
   <!-- 승현 -->
   <!-- ㅁㅁ -->
   <!-- 홍의 -->
   <!-- ㅁㅁ -->
   <!-- 민영 -->
   <!-- ㅁㅁ -->