<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diarydao.diary-mapper">
	<select id="searchListData" resultType="Recipe" parameterType="java.util.Map">
		SELECT recipe_no,recipe_sub,recipe_img,rownum
		FROM (SELECT recipe_no,recipe_sub,recipe_img,rownum as num
		FROM (SELECT recipe_no,recipe_sub,recipe_img
		FROM yoseksa_recipe ORDER BY recipe_sub ASC))
		WHERE recipe_sub LIKE '%'||#{keyword}||'%'
		AND rownum BETWEEN #{start} AND #{end}
	</select>	
	<!-- 총페이지 구하기 -->
	<select id="searchRowCount" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(*) FROM yoseksa_recipe WHERE recipe_sub LIKE '%'||#{keyword}||'%'
	</select>
	<!-- 다이어리 등록 -->
	<insert id="diaryInsert" parameterType="Diary">
	    <selectKey keyProperty="mgr_no" resultType="int" order="BEFORE">
	        SELECT NVL(MAX(mgr_no)+1,1) as mgr_no FROM yoseksa_diary
	    </selectKey>
	    INSERT INTO yoseksa_diary VALUES(#{mgr_no},#{recipe_no},#{member_no},#{board_no},#{diary_date},SYSDATE,#{diary_bld})
	</insert>
	<select id="diaryListData" resultType="Diary">
	    SELECT mgr_no,yd.recipe_no,yd.member_no,yd.board_no,diary_date,diary_regdate,diary_bld,yr.recipe_sub,recipe_img
	    FROM yoseksa_diary yd, yoseksa_recipe yr
	    WHERE yd.recipe_no=yr.recipe_no
	    AND yd.member_no=#{member_no}
	</select>
</mapper>