<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diarydao.diary-mapper">

	<select id="searchListData" resultType="Diary" parameterType="String">
		SELECT recipe_no,recipe_sub
		FROM (SELECT recipe_no,recipe_sub,rownum as num
		FROM (SELECT recipe_no,recipe_sub
		FROM yoseksa_recipe ORDER BY recipe_sub ASC))
		WHERE recipe_sub LIKE '%#{keyword}%'
		AND num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 총페이지 구하기 -->
	<select id="searchRowCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM yoseksa_recipe WHERE recipe_sub LIKE '%#{recipe_sub}%'
	</select>
	
	<!-- 우식 -->
	<!-- ㅁㅁ -->
	<!-- 영권 -->
	<!-- ㅁㅁ -->
	<!-- 태진 -->
	<!-- ㅁㅁ -->
	<!-- 승현 -->
	<!-- ㅁㅁ -->
	<!-- 홍의 -->
	<!-- ㅁㅁ -->
	<!-- 민영 -->
	<!-- ㅁㅁ -->
</mapper>