<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<!-- DTO클래스 등록 -->
	<typeAliases>
		<typeAlias type="com.memberdao.MemberDTO" alias="Member"/>		<!-- 회원관리 -->
		<typeAlias type="com.freedao.FreeBoardDTO" alias="Freeboard"/>	<!-- 자유게시판 -->
		<typeAlias type="com.recipedao.RecipeDTO" alias="Recipe"/>		<!-- 나만의레시피 -->
		<typeAlias type="com.recipedao.HowDTO" alias="How"/>			<!-- 나만의레시피 - 방법별 -->
		<typeAlias type="com.recipedao.JaeryoDTO" alias="Jaeryo"/>		<!-- 나만의레시피 - 재료별 -->
		<typeAlias type="com.recipedao.KindDTO" alias="Kind"/>			<!-- 나만의레시피 - 종류별 -->
		<typeAlias type="com.recipedao.MaterialDTO" alias="Material"/>	<!-- 나만의레시피 - 재료 -->
		<typeAlias type="com.recipedao.SituDTO" alias="Situ"/>			<!-- 나만의레시피 - 상황별 -->
		<typeAlias type="com.recipedao.SourceDTO" alias="Source"/>		<!-- 나만의레시피 - 양념 -->
		<typeAlias type="com.diarydao.DiaryDTO" alias="Diary"/>			<!-- 달력 -->
		<typeAlias type="com.scrapdao.ScrapDTO" alias="Scrap"/>			<!-- 스크랩 -->
		<typeAlias type="com.noticedao.NoticeDTO" alias="Notice"/>		<!-- 공지사항 -->
	</typeAliases>
	<!-- 환경설정(오라클) -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
					<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
					<property name="url" value="jdbc:oracle:thin:@localhost:1523:ORCL"/>
					<property name="username" value="scott"/>
					<property name="password" value="tiger"/>
				</dataSource>
		</environment>
	</environments>
	<!-- SQL문장 등록 -->
	<mappers>
		<mapper resource="com/memberdao/member-mapper.xml"/>			<!-- 회원관리 -->
		<mapper resource="com/freedao/free-mapper.xml"/>				<!-- 자유게시판 -->
		<mapper resource="com/recipedao/recipe-mapper.xml"/>			<!-- 나만의레시피 -->
		<mapper resource="com/diarydao/diary-mapper.xml"/>				<!-- 달력 -->
		<mapper resource="com/scrapdao/scrap-mapper.xml"/>				<!-- 스크랩 -->
		<mapper resource="com/noticedao/notice-mapper.xml"/>			<!-- 공지사항 -->
	</mappers>
</configuration>